.events2{
    padding-top: 4%;
}
  #card{
    width: 80%;
    
    margin-left: 10%;
    margin-right: 10%;
  }
  
  #header{
    font-size: 3vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #content{
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  #text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
  
  .events2{
    /* background-color: #ffff; */  
    /* Here in getEvents.css if we change background color it would also change for viewevent.css because both have same class name as events */
  }

