@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@media (min-width:1200px){
    #navt{
        background-color:#201c34;
        position:absolute;
        border: 0;
        top:0%;
        width:100%;
        height:13%;
    }
    #mea{
        position: absolute;
        left:40%;
        font-size:25px;
        font-weight:500;
        
    }

    #topic{
        color:rgb(249, 251, 252);
        padding:26px;
    }

    #topic:hover{
        color: #37b3a6;
    }

    #ltopic{
        padding:26px;
        color:rgb(249, 251, 252);
    }
    #ltopic:hover{
        color: #37b3a6;
    }
}

@media (max-width:1200px){
    #navt{
        background-color:#201c34;
    }
    #topic{
        color:rgb(249, 251, 252);
    }
    #topic:hover{
        color: #37b3a6;
    }
    #ltopic{
        color:rgb(249, 251, 252);
    }
    #ltopic:hover{
        color: #37b3a6;
    }
    #toggle{
        background-color: azure;
        
    }
    
}