.sec1 {
    position: "relative";
    margin-top: 12vh;
    /* filter: brightness(50%); */
    background-image: url('../../Assets/landingpg.jpg');
    background-repeat: no-repeat;
    min-height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

#tit_sec {
    backdrop-filter: blur(10px) saturate(70%);
    display: block;
    position: absolute;
    bottom: 45%;
    left: 20%;
    height: auto;
    /* background-color: black; */

}

#tit_sec_title {

    line-height: 0.8;
    text-align: center;
    font-size: 80px;
    color: rgb(244, 250, 247);
}

@media (max-width:1200px) {

    #tit_sec {

        display: block;
        position: absolute;
        bottom: 30%;
        left: 5%;
        right: 5%;
        height: auto;
        /* background-color: black; */
    }
}